html {
    background-color: #f1cae2;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
    color: #3b07cc;
    background-color: #f5a3a3;
}

#github {
     padding: 30px;
     font-size: 30px;
     background-color: #0cdf83;
     color: #f90505;
     border-radius: 30%;
     cursor: pointer;
}